.application {
    padding-top: 13px;
    max-width: 440px;
}
    .application__content {

    }
        .application__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-heading);
            font-weight: var(--font-heading-bold);
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: var(--heading-font-color);
        }

        .application__data {
            margin-top: 24px;
        }
            .application__field {
                margin-top: 12px;
            }

            .application__field:first-child {
                margin-top: 0;
            }

        .application__submit {
            margin-top: 20px;
            display: inline-block;
            vertical-align: top;
        }
            .application__submit.button,
            .application__submit .button {
                padding-left: 26px;
                padding-right: 26px;
            }

        .application__agreement {
            margin-top: 12px;
            max-width: 290px;
        }

        .application__alert {
            margin-top: 21px;
        }

    .application__sidebar {
        display: none;
    }



@media (min-width: 768px) {

    .application {
        padding-top: 17px;
        max-width: 520px;
    }
        .application__content {

        }
            .application__heading {
                font-size: 42px;
                line-height: 48px;
                letter-spacing: -0.2px;
            }

            .application__data {
                margin-top: 20px;
            }
                .application__field {

                }


            .application__alert {
                margin-top: 31px;
            }

        .application__sidebar {

        }
}


@media (min-width: 992px) {

    .application {
        display: flex;
        align-items: stretch;
        max-width: none;
    }
        .application__content {
            flex-shrink: 0;
            width: 520px;
        }
            .application__heading {

            }

            .application__data {

            }
                .application__field {

                }

        .application__sidebar {
            flex-shrink: 0;
            display: block;
            width: 350px;
            margin-left: 30px;
            margin-top: -3px;
        }
}

@media (min-width: 1200px) {

    .application {

    }
        .application__content {
            width: 760px;
        }
            .application__heading {

            }

            .application__data {
                margin-top: 30px;
            }
                .application__field {

                }


        .application__sidebar {
            margin-top: -13px;
        }
}
