.badge {
    display: inline-block;
    vertical-align: top;
    padding: 3px 13px 4px;
    background-color: #F7F7FF;
    border-radius: 4px;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-primary);
    white-space: nowrap;
}
