.blog {

}
    .blog__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .blog__category {
        margin-top: 16px;
        margin-left: calc(-1 * var(--container-padding));
        margin-right: calc(-1 * var(--container-padding));
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        overflow-x: auto;
    }

    @media (min-width: 575px) {

        .blog__category {
            margin-left: calc(-1 * var(--container-padding-larger));
            margin-right: calc(-1 * var(--container-padding-larger));
            padding-left: var(--container-padding-larger);
            padding-right: var(--container-padding-larger);
        }
    }



    .blog__list {

    }
        .blog__item {

        }

    .blog__navigation {
        margin-top: 30px;
    }

    .blog__addition {
        margin-top: 30px;
    }
        .blog__sub-heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .blog__description {
            margin-top: 12px;
        }



    @media (max-width: 575px) {

        .blog {

        }
            .blog__heading {

            }

            .blog__category {

            }

            .blog__list {
                max-width: 400px;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
                .blog__item {
                    margin-top: 15px;
                }

                .blog__item:first-child {
                    margin-top: 0;
                }
    }



    @media (min-width: 576px) {

        .blog {

        }
            .blog__heading {

            }

            .blog__category {

            }

            .blog__list {
                display: flex;
                align-items: stretch;
                flex-wrap: wrap;
                margin: 20px -10px -10px;
            }
                .blog__item {
                    width: 50%;
                    padding: 10px;
                }

            .blog__addition {

            }
                .blog__sub-heading {

                }

                .blog__description {

                }
    }


    @media (min-width: 768px) {

        .blog {

        }
            .blog__heading {

            }

            .blog__category {

            }

            .blog__list {

            }
                .blog__item {

                }

            .blog__navigation {
                margin-top: 40px;
            }

            .blog__addition {
                margin-top: 40px;
            }
                .blog__sub-heading {

                }

                .blog__description {
                    margin-top: 20px;
                }
    }


    @media (min-width: 992px) {

        .blog {

        }
            .blog__heading {
                text-align: center;
            }

            .blog__category {
                margin-top: 24px;
                text-align: center;
            }

            .blog__list {

            }
                .blog__item {
                    width: 33.3333%;
                }

            .blog__addition {

            }
                .blog__sub-heading {

                }

                .blog__description {

                }
    }


    @media (min-width: 1200px) {

        .blog {

        }
            .blog__heading {

            }

            .blog__category {

            }

            .blog__list {
                margin: 24px -15px -16px;
            }
                .blog__item {
                    padding: 15px;
                }

            .blog__navigation {

            }

            .blog__addition {

            }
    }



/*!* blog *!*/
/*.blog {*/
/*    margin-top: 20px;*/
/*}*/

/*.blog__related-heading {*/
/*    font-size: 24px;*/
/*    letter-spacing: -0.2px;*/
/*    font-family: var(--font-heading);*/
/*    font-weight: var(--font-heading-bold);*/
/*    margin: 0 0 35px;*/
/*    padding-bottom: 20px;*/
/*    border-bottom: 1px solid #eeeeee;*/
/*    line-height: initial;*/
/*}*/

/*.blog__heading-wrapper {*/
/*    border-bottom: 1px solid #eaeaf2;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.blog__heading {*/
/*    padding-top: 11px;*/
/*    font-size: 32px;*/
/*    line-height: initial;*/
/*    letter-spacing: -0.2px;*/
/*    font-family: var(--font-heading);*/
/*    font-weight: var(--font-heading-bold);*/
/*    margin: 0 0 50px;*/
/*}*/

/*.blog__heading--center {*/
/*    text-align: center;*/
/*}*/

/*.blog__description {*/
/*    margin-top: 40px;*/
/*}*/



/*!* blog categories *!*/

/*.blog__categories--sidebar {*/
/*    text-align: left;*/
/*    display: block;*/
/*    flex-wrap: nowrap;*/
/*}*/

/*.blog__categories--sidebar .blog__categories-link {*/
/*    margin: 0 0 10px;*/
/*}*/


/*!* blog list *!*/
/*.blog__list {*/
/*    display: grid;*/
/*    grid-gap: 30px;*/
/*    grid-template-columns: 1fr;*/
/*    margin-bottom: 50px;*/
/*}*/

/*.blog__list--category {*/
/*    grid-template-columns: 1fr;*/
/*    grid-gap: 30px;*/
/*}*/

/*.blog__list--category .blog__item {*/
/*    display: grid;*/
/*    grid-gap: 30px;*/
/*    grid-template-columns: 1fr;*/
/*}*/

/*.blog__list--category .blog__item-info {*/
/*    margin: 0 0 20px;*/
/*}*/

/*!* blog item *!*/
/*.blog__item {*/

/*}*/

/*.blog__item-link {*/
/*    display: block;*/
/*}*/

/*.blog__item-image {*/
/*    max-width: 100%;*/
/*    width: 100%;*/
/*}*/

/*.blog__item-info {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 20px 0;*/
/*}*/

/*.blog__item-category {*/
/*    text-transform: uppercase;*/
/*    color: var(--link-color);*/
/*    text-decoration: none;*/
/*    transition: color var(--transition-hover), opacity var(--transition-hover);*/
/*}*/

/*.blog__item-category:hover {*/
/*    color: #55488D;*/
/*}*/

/*.blog__item-date {*/
/*    font-weight: 400;*/
/*}*/

/*.blog__item-heading {*/
/*    font-weight: var(--font-primary-bold);*/
/*}*/

/*.blog__item-heading a {*/
/*    color: var(--text-dark);*/
/*    text-decoration: none;*/
/*    font-size: 20px;*/
/*    line-height: initial;*/
/*}*/

/*.blog__item-heading a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*.blog__item-description {*/
/*    font-size: var(--body-font-size);*/
/*    line-height: var(--body-font-line);*/
/*}*/

/*!* blog related *!*/
/*.blog__related {*/
/*    margin-top: 50px;*/
/*}*/

/*.blog__related .blog__item-category,*/
/*.blog__related .blog__item-date {*/
/*    font-size: 12px;*/
/*}*/

/*.blog__related .blog__item-heading a {*/
/*    font-size: 15px;*/
/*}*/

/*!* blog category *!*/
/*.blog__category {*/

/*}*/

/*.blog__sidebar {*/
/*    order: 2;*/
/*    margin-top: 21px;*/
/*}*/

/*.blog__summary {*/
/*    order: 1;*/
/*    float: left;*/
/*    margin-bottom: 30px;*/
/*}*/

/*!* blog-latest *!*/
/*.blog-latest__list .blog__item {*/
/*    display: grid;*/
/*    grid-gap: 25px;*/
/*    grid-template-columns: 125px 1fr;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.blog-latest__list .blog__item .blog__item-info {*/
/*    margin: 0 0 10px;*/
/*    font-size: 13px;*/
/*}*/

/*.blog-latest__list .blog__item-heading a {*/
/*    font-size: 16px;*/
/*    font-weight: 400;*/
/*}*/

/*@media (min-width: 576px) {*/
/*    .blog__list {*/
/*        grid-template-columns: repeat(1, 1fr);*/
/*    }*/

/*    .blog__list--category {*/
/*        grid-template-columns: 1fr;*/
/*        grid-gap: 30px;*/
/*    }*/

/*    .blog__list--category .blog__item {*/
/*        grid-template-columns: 1fr;*/
/*    }*/

/*    .blog__list--category .blog__info {*/
/*        margin: 20px 0;*/
/*    }*/

/*    .blog__categories--sidebar {*/
/*        text-align: left;*/
/*        display: block;*/
/*        flex-wrap: nowrap;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .blog__list {*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*    }*/

/*    .blog__list--category {*/
/*        grid-template-columns: 1fr;*/
/*        grid-gap: 30px;*/
/*    }*/

/*    .blog__list--category .blog__item {*/
/*        grid-template-columns: 300px 1fr;*/
/*    }*/

/*    .blog__sidebar {*/
/*        margin-top: 31px;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .blog__list {*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*    }*/

/*    .blog__sidebar {*/
/*        float: right;*/
/*        width: 350px;*/
/*        margin-top: 0;*/
/*    }*/

/*    .blog__summary {*/
/*        width: 520px;*/
/*    }*/

/*    !* blog__list--category *!*/
/*    .blog__list--category {*/
/*        grid-template-columns: 1fr;*/
/*        grid-gap: 30px;*/
/*    }*/

/*    .blog__list--category .blog__item {*/
/*        grid-template-columns: 1fr;*/
/*    }*/

/*    .blog__list--category .blog__info {*/
/*        margin: 20px 0;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .blog__list {*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*    }*/

/*    .blog__list--category {*/
/*        grid-template-columns: 1fr;*/
/*        grid-gap: 30px;*/
/*    }*/

/*    .blog__list--category .blog__item {*/
/*        grid-template-columns: 300px 1fr;*/
/*    }*/

/*    .blog__summary {*/
/*        width: 740px;*/
/*    }*/
/*}*/

