.index {

}
    .index__heading {
        margin-top: 0;
        margin-bottom: 0;
        display: block;
        font-family: var(--font-heading);
        font-weight: var(--font-heading-bold);
        font-size: 25px;
        color: var(--heading-font-color);
        line-height: 30px;
        letter-spacing: 0.2px;
    }

    .index__list {
        margin-top: 22px;
        column-count: 2;
        column-gap: 24px;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        font-size: 15px;
        line-height: 18px;
    }

    .index__list:first-child {
        margin-top: 0;
    }
        .index__item {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            padding-top: 3px;
            padding-bottom: 3px;
        }

    .index__more {
        margin-top: 23px;
    }


@media (min-width: 576px) {

    .index {

    }
        .index__heading {

        }

        .index__list {
            column-count: 3;
        }
            .index__item {

            }

        .index__more {

        }
}


@media (min-width: 768px) {

    .index {

    }
        .index__heading {

        }

        .index__list {
            margin-top: 21px;
            column-count: 4;
        }
            .index__item {

            }
}




.index--wide {

}

    .index--wide .index__list {
        column-count: 1;
    }


@media (min-width: 576px) {

    .index--wide .index__list {
        column-count: 2;
    }
}


@media (min-width: 992px) {

    .index--wide .index__list {
        column-count: 3;
    }
}


@media (min-width: 1200px) {

    .index--wide .index__list {
        column-count: 4;
    }
}
