.notification {
    max-width: 520px;
    font-size: 17px;
    line-height: 24px;
}
    .notification__icon {
        vertical-align: top;
        margin-right: 6px;
        margin-top: 2px;
    }

.notification--negative {
    color: var(--color-theme-secondary-normal);
}

.notification--positive {
    color: #309250;
}
