.showcase {
    padding-top: 30px;
    padding-bottom: 74px;
    text-align: center; /* aligning button */
}
    .showcase__wrap {

    }
        .showcase__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-heading);
            font-weight: var(--font-heading-bold);
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: var(--heading-font-color);
            text-align: center;
        }

        .showcase__list {
            padding-top: 30px;
            margin-left: calc(-1 * var(--container-padding));
            margin-right: calc(-1 * var(--container-padding));
            text-align: left;
        }
            .showcase__item {
                position: relative;
                margin-top: 10px;
                padding-top: 10px;
            }

            .showcase__item:first-child {
                margin-top: 0;
                padding-top: 0;
            }
                .showcase__item::before {
                    content: "";
                    position: absolute;
                    right: 15px;
                    top: -1px;
                    width: calc(60% - 30px);
                    display: block;
                    height: 1px;
                    background-color: #f0f0f0;
                }

                .showcase__item:first-child::before {
                    display: none;
                }

        .showcase__more {
            width: 240px;
            margin-top: 40px;
        }

        .showcase__total {
            margin-top: 18px;
            font-size: 14px;
            line-height: 24px;
            color: var(--color-faded);
        }

@media (min-width: 576px) {

    .showcase {

    }
        .showcase__wrap {

        }
            .showcase__list {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                margin-left: -15px;
                margin-top: -15px;
                margin-right: 0;
            }
                .showcase__item,
                .showcase__item:first-child {
                    flex-shrink: 0;
                    width: 50%;
                    margin-top: 0;
                    padding-left: 15px;
                    padding-top: 15px;
                }
                    .showcase__item::before {
                        display: none;
                    }
}


@media (min-width: 768px) {

    .showcase {
        padding-top: 60px;
    }
        .showcase__wrap {

        }
            .showcase__heading {
                font-size: 32px;
                line-height: 40px;
                letter-spacing: -0.2px;
            }

            .showcase__list {
                margin-top: -5px;
            }
                .showcase__item {

                }
}




@media (min-width: 992px) {

    .showcase {

    }
        .showcase__wrap {

        }
            .showcase__list {

            }
                .showcase__item:first-child,
                .showcase__item {
                    width: 33.3333%;
                }
}






@media (min-width: 1200px) {

    .showcase {

    }
        .showcase__wrap {

        }
            .showcase__list {

            }
                .showcase__item:first-child,
                .showcase__item {
                    width: 25%;
                }
}

