.suggest {
    margin: 0 calc(-1 * var(--container-padding));
    padding: 11px var(--container-padding) 13px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    transition: var(--transition-hover);
    cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767px) {

    .suggest {
        margin-left: calc(-1 * var(--container-padding-larger));
        margin-right: calc(-1 * var(--container-padding-larger));
        padding-left: var(--container-padding-larger);
        padding-right: var(--container-padding-larger);
    }
}

.suggest:hover {
    background-color: var(--neutral-color-3);
}
    .suggest__icon {
        flex-shrink: 0;
        vertical-align: top;
        width: 16px;
        height: 16px;
        margin-top: 1px;
        margin-right: 10px;
        margin-left: 1px;
        fill: var(--color-faded);
    }

    @media (min-width: 576px) and (max-width: 768px) {

        .suggest::before {
            margin-right: 21px;
            margin-left: 2px;
        }
    }

    .suggest__wrap {
        flex-grow: 1;
        overflow: hidden;
        line-height: 20px;
    }
        .suggest__sub-heading {
            display: inline-block;
            vertical-align: top;
            margin-right: 4px;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-dark);
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
            .suggest__sub-heading b {
                font-weight: var(--font-primary-bold);
            }

        .suggest__location {
            display: inline-block;
            vertical-align: top;
            padding-top: 1px;
            margin-bottom: -1px;
            font-size: 14px;
            line-height: 20px;
            color: var(--color-note);
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
            .suggest__location b {
                font-weight: normal;
                color: var(--text-dark);
            }

    .suggest__type {
        flex-shrink: 0;
        max-width: 21%;
        margin-left: 15px;
        margin-top: 1px;
        margin-right: 1px;
        font-size: 14px;
        line-height: 17px;
        color: var(--color-faded);
        text-align: right;
    }

@media (min-width: 576px) {

    .suggest {

    }
        .suggest__heading {

        }

        .suggest {

        }


            .suggest__wrap {

            }
                .suggest__sub-heading {

                }

                .suggest__location {

                }

            .suggest__type {
                margin-left: 30px;
                max-width: 35%;
            }
}


@media (min-width: 768px) {

    .suggest {

    }
        .suggest__heading {

        }

        .suggest {

        }
}
