.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: #514587;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #514587;
}

.tabset .tab-panel {
    padding: 30px 0;
}

/* style-1 */
.tabset--style1 > label {
    font-weight: var(--font-primary-bold);
    font-size: 15px;
    line-height: 24px;
    color: var(--text-dark);
    text-decoration: none;
    transition: background-color var(--transition-hover), color var(--transition-hover);
    padding: 10px 12px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid transparent;
}

.tabset--style1 > input:focus + label,
.tabset--style1 > input:checked + label {
    border-color: var(--text-dark);
}

.tabset--style1 .tab-panels {
    margin-top: -1px;
}

.tabset--style1 .tab-panel {
    padding: 30px 0 0;
    border-top: 1px solid #ededef;
}

/* style-2 */
.tabset--style2 > label {
    font-weight: var(--font-primary-bold);
    font-size: 15px;
    line-height: 24px;
    color: var(--text-dark);
    text-decoration: none;
    transition: background-color var(--transition-hover), color var(--transition-hover);
    padding: 10px 12px;
    border: 1px solid #ededef;
}

.tabset--style2 > input:focus + label,
.tabset--style2 > input:checked + label {
    border-color: var(--text-dark);
}

.tabset--style2 .tab-panel {
    padding: 30px 0 0;
    border: 0;
}
